* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

header {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 55px;
  gap: 10px;
}

header > img {
  width: 24px;
}

header > h1 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

article.journal-entry {
  display: flex;
  justify-items: center;
  height: 100vh;
  width: 70%;
}

article.journal-entry .marker {
  width: 7px;
  margin-right: 4px;
}

article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
